.container{
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/00/10/82/965635d78de24ce.jpg");
 background-repeat:no-repeat;
 background-size: cover;
 position: absolute;
 width:100%;
 height:100%;
 color:rgba(241, 241, 237, 0.952);
 font-size: 16px;
 font-family: Arial, Helvetica, sans-serif;

}
#about{
  display:flex;
  flex:right;
  justify-content: space-evenly;
  font-size: 25px;
}
.content{
  float: left;
}
#home{
  font-size:40px;
}
.img{
  border-radius: 20%;

}
nav {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px 0;
  margin-right: 0%;
}

nav>ul {
  text-align: left;
}

nav>ul>li {
  display:flex;
  float:right;
}

nav ul li a {
  padding: 18px;
  margin-right: 0;
  text-transform:lowercase;
  text-decoration: none;
  display: block;
  color: rgb(207, 211, 195);
}

nav>ul>li>a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), insert 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(121, 77, 47, 0.678);
  color: rgba(124, 133, 156, 0.7);
}
  .pro{
    display:flex;
  }